<?xml version="1.0"?>
<launch>

  <!-- This will launch the node which converts GPS coordinates to odometry -->
  <include file="$(find gps_waypoint_nav)/launch/navsat_transform.launch"></include>

  <!-- This takes in odometry, gps, and imu and uses a kalman filter to give a better assesment of the pose
  on the topic /odometry/filtered -->
  <include file="$(find robot_localization)/launch/ekf_template.launch"></include>

  <!-- This will take in gps coordinates from a txt file and publish them as waypoints -->
  <node pkg="gps_waypoint_nav" type="gps_waypoint_nav" name="gps_nav" clear_params="true" output="screen"/>
    <param name="/gps_waypoint_nav/coordinates_file" value="/waypoint_files/points_sim.txt" type="string" />
</launch>
