<?xml version="1.0"?>
<launch>

  <node pkg="imu_transformer" type="imu_transformer_node" name="imu_transformer" output="screen">
    <remap from="imu_in/data" to="imu/data"/>
    <remap from="imu_in/mag" to="imu/mag"/>
    <remap from="imu_out/data" to="imu_base/data"/>
    <remap from="imu_out/mag" to="imu_base/mag"/>
  </node>

</launch>